.avatar {
    width: 50pt;
    height: 50pt;
    border-radius: 100pt;
    margin-left: auto;
    margin-right: auto;
    margin-top:  20%;
}

ion-content {
    --background: #272727;
}

#editProfile {
    margin-top: 15%;
}

#logout {
    margin-top: 15%;
    --background: #f8963f;
    width: 100%;
}

.owner {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
}