<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button id="home" (click)="navigateToHomePage()">
      <ion-icon name="home" routerLink="/"></ion-icon>
    </ion-tab-button>
    <ion-tab-button id="addRoom" (click)="navigateToNewRoomPage()">
      <ion-icon name="add" *ngIf="isCompany; else elseBlock"></ion-icon>
      <ng-template #elseBlock><ion-icon name="briefcase"></ion-icon></ng-template>
    </ion-tab-button>
    <ion-tab-button *ngIf="isCompany">
      <ion-icon name="briefcase"></ion-icon>
    </ion-tab-button>
    <ion-tab-button id="profile" (click)="navigateToProfilePage()">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>