.directions {
    width: 50px;
}

.ratingStars {
    width: 25px;
    color: gold;
}

.ratingComment {
    font-size: medium;
    font-style: italic;
}

.ratingWriter {
    font-size: x-small;
    font-weight: bold;
    margin: 0;
}

.contentNoPaddingLeft {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.contentPaddingBottom {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #6C74E1;
}

.ratingRow {
    width: 100%;
}

.ratingCard {
    width: 100%;
    margin-top: 10%;
}

.detailViewRow {
    align-content: center;
    background-color: #6C74E1;
}

.detailViewColumn {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.detailViewCardLabel {
    color: #2b2b28;
    padding-left: 5%;
    padding-top: 5%;
}

.detailViewCardTitle {
    /*padding-top: 5%;
    padding-bottom: 5%;*/
    color: black;
    font-size: large;
    font-style: italic;
}
.detailViewIonContent {
    --ion-background-color: #f1d6ab;
    //margin-top: 10%;
}

.detailViewHeader {
    --ion-background-color: #2b2b28;
}

.detailViewPageTitle {
    color: #f8f8f8;
}

.backButton {
    color: #f8f8f8;
}

/*.titleInfo {
    background-color: #f1d6ab;
}*/

.starsItem {
    --ion-background-color: #2b2b28;
}

.ratingInfoItem {
    --ion-background-color: #f8f8f8;
}

ion-content {
    --ion-background-color: #152A3E;
    //text-align: center;
    align-content: center;
    align-items: center;
}

.roomCard {
    margin-top: 15%;
    --ion-background-color: #f1d6ab; 
    background-color: #6C74E1;
    border-radius: 25px;
}

.detailViewImage {
    //border-radius: 25px;
    //border: 5px solid #6C74E1;
    opacity: 0.5;
}

.roomCardItem {
    text-align: center;
    padding: 0;
    margin: 0;
    /* background-color: #6C74E1; */
    --ion-background-color: #6C74E1;
}

.mapBtn {
    --background: #898FE7;
}

.buttonsRow {
    text-align: center;
}

.bookingButton {
    margin-top: 10%;
    width: 90%;
    align-self: center;
}

.imgOverlay {

    background-color: #6C74E1;

}