.directions {
    width: 50px;
}

.ratingStars {
    width: 25px;
    color: gold;
}

.ratingComment {
    font-size: medium;
    font-style: italic;
}

.ratingWriter {
    font-size: x-small;
    font-weight: bold;
    margin: 0;
}

.contentNoPaddingLeft {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.contentPaddingBottom {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #6C74E1;
}

.ratingRow {
    width: 100%;
}

.ratingCard {
    width: 100%;
    margin-top: 10%;
}

.detailViewRow {
    align-content: center;
}

.detailViewColumn {
    text-align: center;
    //padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 0;
}

.detailViewCardLabel {
    color: #b9b9b9b7;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: small;
}

.detailViewCardTitle {
    /*padding-top: 5%;
    padding-bottom: 5%;*/
    color: white;
    font-size: larger;
}
.detailViewIonContent {
    --ion-background-color: #272727;
    //margin-top: 10%;
}

.detailViewHeader {
    --ion-background-color: #272727;
}

.detailViewPageTitle {
    color: #f8f8f8;
}

.backButton {
    color: #f8f8f8;
}

/*.titleInfo {
    background-color: #f1d6ab;
}*/

.starsItem {
    --ion-background-color: #2b2b28;
}

.ratingInfoItem {
    --ion-background-color: #f8f8f8;
}

ion-content {
    --ion-background-color: #272727;
    //text-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

ion-icon {
    color: #272727;
}

.roomCard {
    margin-top: 15%;
    --ion-background-color: #f1d6ab; 
    background-color: #6C74E1;
    border-radius: 25px;
}

.detailViewImage {
    //border-radius: 25px;
    //border: 5px solid #6C74E1;
    //opacity: 0.5;
    z-index: 1;
    width: 100%;
}

.roomCardItem {
    text-align: left;
    padding: 0;
    margin: 0;
    /* background-color: #6C74E1; */
}

.mapBtn {
    --background: #F8963F;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 5%;
}

.buttonsRow {
    text-align: center;
}

.bookingButton {
    margin-top: 10%;
    width: 90%;
    align-self: center;
    --background: #F8963F;
    color: #272727;
}

.avatar {
    width: 50pt;
    height: 50pt;
    border-radius: 100pt;
    bottom: 0;
    z-index: 2;
    margin-top: -12%;
    margin-left: 38%;
    position: relative;
    border: 2px solid #6C74E1;
}
.container {
    position: inherit;
}
.subtitle {
    color: #f0ead6;
}

#descriptionTitle {
    padding-left: 5%;   
}

#locationTitle {
    padding-left: 5%;
}

#mainTitle {
    font-size: xx-large;
}

#address {
    color: #b9b9b9b7;
    padding-left: 5%;
    padding-top: 5%;
    font-size: small;
}

.subRow {
    text-align: left;
}

#rateBtn {

    margin-bottom: 0;
}

.rateTextRow {

    margin-top: 15%;
    margin-left: 5%;
}

.rateText {
    color: white;
}

.finishedRatingBtn {
    --background: #f8963f;
    color: #272727;
}

.isRatingCard {
    background-color: white;
}