

<ion-content>
  <ng-container *ngFor="let room of rooms$ | async">
    <ion-card lines="none" (click)="goToDetailView(room.id)" *ngIf="room.isAvailable">
    <div *ngIf="room.isAvailable">
    <img [src]="room.imgUrl" />
    <ion-card-content>
        <h1 class="title">{{room.title}}</h1>
        <h2 class="address">Location</h2>
        <h3 class="info">{{room.address}}</h3>
      <ion-row class="row">
        <ion-col class="col">
          <h2 class="owner">{{room.company}}</h2>
        </ion-col>
        <ion-col class="col">
          <img class="avatar" src="https://api.adorable.io/avatars/285/abott@adorable.png" />
        </ion-col>
      </ion-row>
    </ion-card-content>
    </div>
  </ion-card>
</ng-container>
</ion-content>

<app-tabbar></app-tabbar>
