<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let room of rooms$ | async" lines="none">
    <ion-card-header>

      <h1>{{room.title}}</h1>
    </ion-card-header>
    <ion-card-content>
      <h3>Info: {{room.description}}</h3>
      <ion-row class="row">
        <ion-col class="col">
          <h2 class="owner">By: {{room.owner}}</h2>
        </ion-col>
        <ion-col class="col">
          <img class="avatar" src="https://api.adorable.io/avatars/285/abott@adorable.png" />
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-tabbar></app-tabbar>

<!--<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" routerLink="/"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="add"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="login">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>-->
