.avatar {
    width: 30pt;
    height: 30pt;
    border-radius: 100pt;
    bottom: 0;
    float: right;
}
.owner {
    position: absolute;
    bottom: 0;
    color: #272727;
}

.firstRow {
    background-color: aqua;
    width: 100%;
}

ion-card {
    border: 2px solid #F8963F;
    border-radius: 10px;
    margin-top: 15%;
}

ion-content ion-card{
    padding: 0 !important;
}

ion-content {
    width: 100%;
    --ion-background-color: #272727;
}
ion-card-header {
    padding: 0;
    margin-top: 0;
    background-color: aqua;
}
.title {
        /* background-color: aqua; */
        color: #272727;
        top: 0;
        margin-top: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        /* padding-left: 5%; */
        border-radius: 10px;
}

ion-card-content {
    margin-top: 0;
    background-color: #F8963F;
}

.info {
    color: #272727;
}


