<ion-header>
  <ion-toolbar>
    <ion-title class="headerTitle">bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ng-container *ngFor="let room of myBookings$">
    <ion-card class="bookingsCard" *ngIf="room" (click)="goToDetailView(room.rId)">
        <div class="containerDiv">
          <div class="imgCropDiv">
            <img [src]="room.imgUrl" class="roomImg" />
          </div>
        </div>
      <ion-card-content class="bookingsCardContent">
        <ion-label class="title">{{room.title}}</ion-label>
        <div class="addressDiv">
          <ion-label class="address">Address: </ion-label>
          <br>
          <ion-label class="address">{{room.address}}</ion-label>
        </div>

      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-grid>

</ion-content>

<app-tabbar></app-tabbar>