.bookingsImg {
    width: 30%;
    border-radius: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
    height: 10%;
    margin-top: 2%;
}

.rowPadding {
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: aqua;
}

.itemPadding {
    margin-bottom: 5%;
    margin-right: 5%;
}

.address {
    margin-top: 17%;
    margin-left: 5%;
}

.arrowIcon {
    margin-right: 0;
    //margin-left: 24%;
    margin-top: 10%;
    font-size: 150%;
}