.bookingsImg {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
    margin-top: -20%;
}

.rowPadding {
    margin-bottom: 2%;
    margin-top: 5%;
    background-color: #F8963F;
    border-radius: 15px;
    height: 180px;

}

ion-content {
    --ion-background-color: #272727;
}

.itemPadding {
    margin-bottom: 5%;
    margin-right: 5%;
}

.address {
    margin-top: 17%;
    font-size: smaller;
}

.arrowIcon {
    margin-right: 0;
    //margin-left: 24%;
    //top: 25%;
    font-size: 150%;
}

.addressItem {
    --background: aqua;
    top: 25%;
    height: 100%;
}

.lastItem {
    --background: #F8963F;
    top: 25%;
}

.addressCol {
    margin-top: 4%;
}

.imgContainer {
    overflow: hidden;
    height: 100px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.addressRow {
    margin-top: -20%;
    text-align: left;
}

.imgCropDiv {
    overflow: hidden;
    height: 80px;
    width: 100%;
    background-color: #F8963F;
    text-align: center;
}

.roomImg {
    max-width: 200%;
    width: 100%;
    margin: 0;
    display: flex;
    margin: auto;
    margin-top: -45%;
}

.bookingsCardContent {
    padding-top: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(248, 149, 63, 0);
}

.avatar {
    width: 50pt;
    height: 50pt;
    border-radius: 100pt;
    margin-top: -44%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F8963F;
}

.bookingsCard {
    height: 180px;
    background-color: #F8963F;
}

.address {
    color: #272727;
    padding-left: 2%;
}

.title {
    color: #272727;
    font-size: x-large;
    padding-left: 2%;
}