<ion-header>
  <ion-toolbar>
    <ion-title>newRoom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="cameraPreview" />
  <ion-button class="button-round" (click)="takePicWithCamera()"> <ion-icon name="camera"></ion-icon></ion-button>
  <ion-item>
    <ion-input [(ngModel)]="title" placeholder="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="description" placeholder="Information"></ion-input>
  </ion-item>
  <ion-button class="button-full" (click)="addRoom()" routerLink="/"> Add new room </ion-button>

</ion-content>

<app-tabbar></app-tabbar>
