.cameraBtn {
    --background: #f8963f;
    margin-top: 5%;
}

ion-content {
    --background: #272727;
    text-align: center;
}

.addRoomBtn {
    --background: #f8963f;
    width: 100%;
    margin-top: 5%;
}

.searchbar {
    --background: white;
    margin-top: 5%;
    text-align: left;
}

.newRoomInputItem {
    margin-top: 2%;
    border-radius: 5px;
}

#inputTitle {
    margin-top: 5%;
}

.roomImg {
    margin-left: auto;
    margin-top: 5%;
    border-radius: 10px;
}
